/* This will replace style.css after I get it to match UX */

html {
    max-width: 100%;
}

body {
    font-family: Catamaran;
    margin: 0;
    padding: 0;
    width: 100%;
}

h3, p {
    color: white;
}

.nav {
    background: #4742BC;
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
}

.menu a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
    transition: 0.6s;
}

.menu a:hover {
    color:  #E05CB3;
}

.hide {
    display: none;
}

.vector {
    width: 100%;
}

.images {
    position: relative;
}

.mobile {
    position: absolute;
    left: 870px;
    top: 76px;
} 

.desktop {
    position: absolute;
    left: 550px;
    top: 182px;
} 

.text {
    color: white;
    top: 120px;
    left: 160px;
    position: absolute;
}

.description {
    width: 40%;
    line-height: 28px;
    align-items: center;
    letter-spacing: 0.04em;
}

.download {
    width: 103px;
    height: 37px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.035em;
    background: #E05CB3;
    color: white;
    margin-top: 10px;
    transition: 0.6s;
}

.download:hover {
    background: white;
    color: #E05CB3;
    cursor: pointer;
}

.features {
    background: #4742BC;
    width: 100%;
    height: 650px;
}

.feature-header {
    color: white;
    font-weight: bold;
    font-size: 36px;
    line-height: 59px;
    letter-spacing: 0.035em;
    padding-top: 40px;
    text-align: center;
}

.feature-columns {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.column-one {
    width: 30%;
    flex-direction: column;
}

.column-two {
    width: 35%;
}

.feature-img {
    width: 100%;
}

.column-three {
    width: 30%;
    flex-direction: column;
}

.feature {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.row-one {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-right: 20px;
}

.row-two {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.row-two p {
    margin-top: -20px;
}

.mission {
    background: #FC5454;
}

.progress {
    background: #27AE60; 
}

.evolution {
    background: #9B51E0;
}

.secure {
    background: #FC54EB;
}

.points {
    background: #1575FF;
}

.success {
    background: #FFA25F;
}

.team {
    height: 700px;
    background: #B075E6;
}

.team-header {
    color: white;
    font-weight: bold;
    font-size: 36px;
    line-height: 59px;
    letter-spacing: 0.035em;
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
}

.contributors {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 0 auto;
}

.contributor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo {
    margin: 0 auto;
}

.photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.social {
    margin: 0 auto;
}

.social a {
    color: #B075E6; 
    /* Weird underscore appearing between social icons, easier to just make it invisible than figure out why and debug */
}

.name {
    text-align: center;
}

.name h3 {
    margin-bottom: 0;
}

.name p {
    margin-top: 0;
}

.blog {
    height: 450px;
    background: #1575FF;
}

.blog-header {
    color: white;
    font-weight: bold;
    font-size: 36px;
    line-height: 59px;
    letter-spacing: 0.035em;
    padding-top: 40px;
    text-align: center;
    margin-top: 0;
}

.post {
    display: flex;
    justify-content: space-around;
}

.image {
    width: 50%:
}

.post-image {
    width: fit-content;
    height: fit-content;
}

.preview {
    flex-direction: column;
    color: white;
    margin-bottom: 0;
    line-height: 1.2;
}

.continue-reading {
    width: 200px;
    height: 37px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.035em;
    background: #E05CB3;
    color: white;
    margin-top: -10px;
    transition: 0.6s;
  }

  .continue-reading:hover {
    background: white;
    color: #E05CB3;
    cursor: pointer;
  }

@media screen and (max-width: 1050px) {
    .post {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .blog {
        height: 600px;
    }
}

@media screen and (max-width: 950px) {
    .vector {
        max-width: 100%;
    }
    .mobile {
        display: none;
    }
    .desktop {
        margin-bottom: -40px;
    }
}

@media screen and (max-width: 900px) {
    .team {
        height: 750px;
    }
}

@media screen and (max-width: 850px) {
    .description {
        width: 100%;
    }
    .desktop {
        left: 500;
        height: 50%;
    }
    .text {
        top: 80;
        left: 20;
    }
    .features {
        height: fit-content;
    }
    .feature-columns {
        flex-direction: column;
        width: 100%;
    }
    .column-one, .column-two, .column-three {
        width: 75%;
        margin: 20px auto;
    }
    .feature-img {
        height: fit-content;
    }
    .team {
        height: 750px;
    }
}

@media screen and (max-width: 800px) {
    .contributors {
        grid-template-columns: auto auto auto auto;
    }
    .team {
        height: 1100px;
    }
    .blog {
        height: 700px;
    }
}

@media screen and (max-width: 700px) {
    .text h2 {
        font-size: 1em;
    }
    .desktop {
        left: 400;
        top: 150;
    }
}

@media screen and (max-width: 650px) {
    .nav {
        flex-direction: column;
        margin: 0 auto;
        padding-bottom: 20px;
        max-width: 100%;
    }
    .text h2 {
        padding-top: 20px;
    }
    .desktop {
        left: 300;
    }
    .contributors {
        grid-template-columns: auto auto auto;
    }
    .team {
        height: 1300px;
    }
}

@media screen and (max-width: 600px) {
    .desktop {
        left: 300;
        top: 130;
    }

    .description {
        line-height: 20px;
    }

    .nav {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 550px) {
    .contributors {
        grid-template-columns: auto auto;
    }
    .team {
        height: 1600px;
    }
}

@media screen and (max-width: 450px) {
    .vector {
        height: 46%;
    }
    .desktop {
        left: 140;
        top: 160;
    }
    .hide {
        display: block;
    }
    .feature {
        margin-bottom: 20px;
    }
    .feature-img {
        height: 50vh;
    }
}

@media screen and (max-width: 400px) {
    .desktop {
        left: 120;
    }
    .blog {
        height: 800px;
    }
}

@media screen and (max-width: 350px) {
    .team {
        height: 1800px;
    }
    .post-image {
        max-width: 100%;
        max-height: 100%;
    }
}