body {
  font-family: Catamaran;
  font-weight: 400;
  background: #3A3699;
  color: white;
  line-height: 1.25;
}

.nav {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.nav-buttons a, .get-started a {
  margin: 30px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
}

.nav-buttons a:hover {
  color: #28c96c;
}

.get-started:hover {
  background: #28c96c;
}

a {
  color: #28C96C;
  text-decoration: none;
}

.refresh {
  font-size: 28px;
  font-weight: 600;
}

.content {
  /* display: flex;
  flex-direction: column; */
  /* width: fit-content; */
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  /* margin-left: 18.6%;
  margin-top: 7%; */
}

.copy {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

.text {
  width: 45%;
}

.image {
  align-items: center;
}


.content h1 {
  margin-bottom: 1px;
  font-weight: 600;
}

.get-started {
  margin-top: 60px;
  background: #4088F0;
  width: fit-content;
  color: white;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 0.4s;
}

.team {
  display: flex;
  flex-direction: column;

  width: fit-content;
  margin: 0 auto;
}

.individual {
  display: flex;
  border: solid 1px lightgrey;
  margin: 20px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
}

.about, .features {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  flex-direction: column;
  margin-top: 100px;

  justify-content: center;
  align-content: center;
  align-items: center;
}

.about h1, .features h1 {
  font-size: 40px;
}

.features h2 {
  font-size: 30px;
}

.about p, .features p {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.individualTitle {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
