body {
  font-family: Catamaran;
  font-weight: 400;
  background: rgb(20, 20, 20);
  color: white;
  line-height: 1.25;
  margin: 0;
}

* {
  font-family: Catamaran;
  font-weight: 400;
}

.intro {
  padding: 10px;
  margin: 10px;
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: fit-content;
  border-bottom: 2px solid white;
  
 
}



.intro p {
  /* border: solid red; */
  display: flex;
  width: 40%;
  
}

p {
  font-size: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: rgb(12, 12, 12);
}

.nav-buttons a,
.get-started a {
  margin: 30px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
  
}

.nav-buttons a:hover {
  color: #4088f0;
}

.get-started:hover {
  background: #28c96c;
}

a {
  color: white;
  text-decoration: none;
  
}

.refresh {
  font-size: 28px;
  padding-left: 30px;
  font-weight: 600;
}

.content {
  /* display: flex;
  flex-direction: column; */
  /* width: fit-content; */
  /* justify-content: center; */
  width: 80%;
  margin: 0 auto;
  
  /* margin-left: 18.6%;
  margin-top: 7%; */
}

.copy {
  border-bottom: 2px solid white;
  width: fit-content;
  margin:  0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* margin-bottom: 30px; */
  padding-top: 30px;
  padding-bottom: 100px;
}

.copy img {
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 1px 1px 5px black;
}

.text {
  /* width: 45%; */
  margin-left: 80px;
}

.image {
  align-items: center;
  
}

.content h1 {
  margin-bottom: 1px;
  font-weight: 600;
}

.get-started {
  margin-top: 20px;
  background: #4088f0;
  width: fit-content;
  color: white;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 0.4s;
}

.center {
  margin: 40px auto;
}

.team {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.individual {
  display: flex;
  border: solid 1px black;
  margin: 20px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}

.individual img {
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 1px 1px 5px black;
}

.about,
.features {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  flex-direction: column;
  margin-top: 100px;

  justify-content: center;
  align-content: center;
  align-items: center;
}

.about h1,
.features h1 {
  font-size: 40px;
}

.features h2 {
  font-size: 30px;
}

h2 {
  
  margin: 0 auto;
  padding-top: 35px;
  display: flex;
  
  width: fit-content;
}



.about p,
.features p {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.individualTitle {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 1180px) {
  body {
    max-width: 100%;
  }
  h1 {
    font-size: 25px;
    /* text-align: center; */
  }
  h2 {
    text-align: center;
  }
  .intro {
    text-align: center;
 
  }

  .intro p {
    
    width: 100%;
  }
  .copy {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }
  .image {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .text {
    min-width: 100%;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
  }
  .get-started {
    font-size: 18px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 700px) {
  .nav {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  .nav-buttons a {
    /* margin-bottom: 20px; */
    max-width: 100%;
  }
  .intro p {
    
  }
  

  @media screen and (max-width: 575px) {
    .nav-buttons a {
      font-size: 18px;
    }

 
  }
}
